<!-- Localization completed -->
<!-- 内容页面：移除了 tabset，导航菜单已移到 header.html -->
<div class="content-wrapper">
    <!-- 根据当前激活的标签显示对应内容 -->
    <ng-include src="'app/components/main/view/summary.html'" ng-if="activeTab === 'SUMMARY'"></ng-include>
    <ng-include src="'app/components/main/view/devices.html'" ng-if="activeTab === 'DEVICES'"></ng-include>
    <ng-include src="'app/components/main/view/applications.html'" ng-if="activeTab === 'APPS'"></ng-include>
    <ng-include src="'app/components/main/view/configurations.html'" ng-if="activeTab === 'CONFS'"></ng-include>
    <ng-include src="'app/components/main/view/files.html'" ng-if="activeTab === 'FILES'"></ng-include>
    <ng-include src="'app/components/main/view/locations.html'" ng-if="activeTab === 'LOCATIONS'"></ng-include>
    <ng-include src="'app/components/main/view/contacts.html'" ng-if="activeTab === 'CONTACTS'"></ng-include>
    <ng-include src="'app/components/main/view/ldap.html'" ng-if="activeTab === 'LDAP'"></ng-include>
    <ng-include src="'app/components/main/view/remote.control.html'" ng-if="activeTab === 'REMOTECONTROL'"></ng-include>
    <ng-include src="'app/components/main/view/commands.html'" ng-if="activeTab === 'COMMANDS'"></ng-include>
    <ng-include src="'app/components/main/view/network.filter.html'" ng-if="activeTab === 'NETWORKFILTER'"></ng-include>
    <ng-include src="'app/components/main/view/export.import.html'" ng-if="activeTab === 'EXPORTIMPORT'"></ng-include>
    <ng-include src="'app/components/main/view/white.label.html'" ng-if="activeTab === 'WHITELABEL'"></ng-include>
    <ng-include src="'app/components/main/view/settings/design.html'" ng-if="activeTab === 'DESIGN'"></ng-include>
    <ng-include src="'app/components/main/view/settings/common.html'" ng-if="activeTab === 'COMMON'"></ng-include>
    <ng-include src="'app/components/main/view/settings/users.html'" ng-if="activeTab === 'USERS'"></ng-include>
    <ng-include src="'app/components/main/view/settings/roles.html'" ng-if="activeTab === 'ROLES'"></ng-include>
    <ng-include src="'app/components/main/view/settings/groups.html'" ng-if="activeTab === 'GROUPS'"></ng-include>
    <ng-include src="'app/components/main/view/settings/icons.html'" ng-if="activeTab === 'ICONS'"></ng-include>
    <ng-include src="'app/components/main/view/settings/language.html'" ng-if="activeTab === 'LANG'"></ng-include>
    <ng-include src="'app/components/main/view/settings/plugins.html'" ng-if="activeTab === 'PLUGINS'"></ng-include>
    <!-- 插件内容动态加载 -->
    <ng-include src="plugin.functionsViewTemplate" ng-if="activeTab && activeTab.startsWith('plugin-') && !activeTab.includes('settings')"></ng-include>
    <ng-include src="plugin.settingsViewTemplate" ng-if="activeTab && activeTab.startsWith('plugin-settings-')"></ng-include>
</div>
